@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-family-rubik-glitch: "Rubik Glitch", system-ui;
$font-family-space-mono: "Space Mono", monospace;
