@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  @apply text-foreground bg-background font-spaceMono pt-24;
}

header {
  @apply bg-black h-24 fixed top-0 mt-0 left-0 right-0 z-50;
}
header nav {
  @apply w-full max-w-screen-xl mx-auto my-6;
}
header nav ul {
  @apply flex justify-end items-center space-x-6 list-none p-0 m-0;
}
header nav ul li {
  @apply inline-block mt-4;
}
header nav .header-icon {
  @apply cursor-pointer float-start justify-start bg-[url("/images/v-logo.svg")] bg-no-repeat bg-center bg-contain h-32 w-32;
}

h1 {
  @apply font-rubikGlitch text-6xl text-center m-0;
}

h1,
h3 {
  @apply font-rubikGlitch;
}

hr {
  @apply border-0 border-t-4 rounded-full border-yellow;
}

.navbar-link {
  @apply inline-flex text-center text-foreground transition-all duration-300 ease-in-out no-underline h-10;
}
.navbar-link:hover {
  @apply underline text-[1.1rem] transition-all ease-in-out;
}
.navbar-link.active {
  @apply underline text-[1.1rem];
}
.navbar-link.visited {
  @apply text-foreground transition-all duration-300 ease-in-out no-underline;
}

.main-container {
  @apply mt-0 w-3/4 mx-auto;
}

.tooltip {
  @apply fixed bg-black text-yellow text-lg py-1 px-2 rounded pointer-events-none font-spaceMono opacity-0 transition-opacity ease-in-out;
}
.tooltip.visible {
  @apply opacity-100 bg-opacity-80 text-opacity-100 border-none;
}

.copy-button {
  @apply cursor-pointer border-none text-yellow text-xl inline-block items-center relative h-10;
}
.copy-button:hover {
  @apply hover:underline border-yellow border-dashed text-[1.3rem] transition-all ease-in-out;
}
.copy-button:not(:hover) {
  @apply text-xl border-none transition-all ease-in-out;
}

.center-content {
  @apply flex justify-center items-center text-center text-xl;
}
.center-content button {
  @apply bg-transparent border-none;
}

.vision-content {
  @apply flex justify-center items-center w-2/3 mx-auto text-xl;
}

.socials-content {
  @apply inline-flex justify-center w-full items-center h-32 mx-auto text-yellow text-center;
}
.socials-content button {
  @apply bg-transparent border-none;
}
.socials-content ul {
  @apply flex justify-center items-center space-x-8 list-none p-0 m-0;
}
.socials-content li {
  @apply inline-flex items-center justify-center h-16 w-16;
}
.socials-content a {
  @apply text-yellow text-6xl transition-all duration-300 ease-in-out flex items-center justify-center;
}
.socials-content a:hover {
  @apply text-[4.2rem] overflow-visible;
}
.socials-content svg {
  @apply transform transition-transform duration-300 ease-in-out;
}
.socials-content svg:hover {
  @apply scale-125;
}

.telegram-icon {
  @apply inline-flex items-center justify-center h-full;
}
.telegram-icon button {
  @apply bg-transparent border-none;
}
.telegram-icon > * {
  @apply transition-transform duration-300 ease-in-out;
}
.telegram-icon > *:hover {
  @apply transition-all duration-300 ease-in-out size-[4.2rem] align-middle content-center;
}
.telegram-icon > *:not(:hover) {
  @apply transition-all duration-300 ease-in-out;
}

.buy-content {
  @apply inline-flex justify-center w-full items-center h-32 mx-auto text-center;
}
.buy-content button {
  @apply bg-transparent border-none;
}
.buy-content ul {
  @apply flex justify-center items-center space-x-8 list-none p-0 m-0;
}
.buy-content li {
  @apply inline-flex items-center justify-center h-24 w-24;
}
.buy-content a {
  @apply text-white text-6xl transition-all duration-300 ease-in-out flex items-center justify-center;
}
.buy-content a:hover {
  @apply text-[4.2rem] overflow-visible;
}
.buy-content svg {
  @apply transform transition-transform duration-300 ease-in-out;
}
.buy-content a:hover svg {
  @apply scale-125;
}

.uniswap-icon {
  @apply inline-flex items-center justify-center h-full;
}
.uniswap-icon > * {
  @apply transition-transform duration-300 ease-in-out;
}
.uniswap-icon > *:hover {
  @apply transition-all duration-300 ease-in-out size-[7.0rem] align-middle content-center text-uniswap-pink;
}
.uniswap-icon > *:not(:hover) {
  @apply transition-all duration-300 ease-in-out;
}

.matcha-icon {
  @apply inline-flex items-center justify-center h-full;
}
.matcha-icon > * {
  @apply transition-transform duration-300 ease-in-out;
}
.matcha-icon > *:hover {
  @apply transition-all duration-300 ease-in-out size-[7.0rem] align-middle content-center text-matcha-green;
}
.matcha-icon > *:not(:hover) {
  @apply transition-all duration-300 ease-in-out;
}

.flooz-icon {
  @apply inline-flex items-center justify-center h-full;
}
.flooz-icon > * {
  @apply transition-all duration-300 ease-in-out;
}
.flooz-icon .flooz-background {
  @apply text-white;
}
.flooz-icon .flooz-star {
  @apply text-black;
}
.flooz-icon:hover {
  @apply transition-all duration-300 ease-in-out;
}
.flooz-icon:hover .flooz-background {
  @apply text-flooz-blue transition-all duration-300 ease-in-out;
}
.flooz-icon:hover .flooz-star {
  @apply text-white transition-all duration-300 ease-in-out;
}
.flooz-icon:hover > * {
  @apply size-[7.0rem] align-middle content-center transition-all duration-300 ease-in-out;
}
.flooz-icon:not(:hover) {
  @apply transition-all duration-300 ease-in-out;
}
.flooz-icon:not(:hover) .flooz-background {
  @apply transition-all duration-300 ease-in-out;
}
.flooz-icon:not(:hover) .flooz-star {
  @apply transition-all duration-300 ease-in-out;
}
.flooz-icon:not(:hover) > * {
  @apply transition-all duration-300 ease-in-out;
}

.tokenomics-content {
  @apply flex flex-col justify-center items-center text-center text-4xl w-full mx-auto;
}
.tokenomics-content ul {
  @apply text-2xl flex flex-row justify-center items-center space-x-4 list-none p-0 m-5;
}
.tokenomics-content ul li {
  @apply inline-block h-10;
}
.tokenomics-content ul a {
  @apply text-yellow transition-all duration-300 ease-in-out no-underline h-10;
}
.tokenomics-content ul a:hover {
  @apply transition-all duration-300 ease-in-out text-[1.75rem] underline;
}
.tokenomics-content ul a:not(:hover) {
  @apply transition-all duration-300 ease-in-out;
}

footer {
  @apply w-full mt-8;
}
footer .footer-content {
  @apply container mx-auto px-4 py-6 center-content text-center;
}
footer .footer-content a {
  @apply no-underline mx-2 text-yellow;
}
footer .footer-content a:visited {
  @apply no-underline mx-2 text-yellow;
}
footer .footer-content a:hover {
  @apply transition-all ease-linear underline underline-offset-8 font-extrabold;
}
footer .footer-content a:not(:hover) {
  @apply transition-all ease-linear;
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #e0ff00;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}/*# sourceMappingURL=main.css.map */